p {
    margin: 0 !important;
}


i {
    color: #D07041
}

.flex {
    width: 100%;
    flex-direction: column !important;
}

.incard {
    background-color: rgba($color: #D07041, $alpha: 0.4);
    border-radius: 4px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    color: #FFF;
}