<!-- Erik Vänttinen
      1601534 -->

<!--Page header-->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        CV
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- CV page content, NEW -> added a background image -->
<ion-content padding class="bgimg">
  <!--Basic card with text-->
  <ion-card padding>
    <h3>Education</h3>
    <br>
    <b>Business Information Technology</b><br>
    <p>Laurea UAS</p>
    <i>2016 - present</i>
  </ion-card>

  <!--Card with all education info-->
  <ion-card padding>
      <h3>Courses</h3>
      <br>
      <b>Introduction to Mobile App Design and Development</b><br>
      <p>Basic course of mobile app development</p>
      <i>01/2019 - 05/2019</i><br><br>
      <b>Advanced Javascript</b><br>
      <i>2017</i><br><br>
      <b>Basic PHP</b><br>
      <i>2018</i><br><br>
      <b>MEAN-stack development</b><br>
      <p>Website project using the MEAN-stack</p>
      <i>2018</i>
  </ion-card>

  <!-- Card with future plans -->
  <ion-card padding>
      <h3>Future plans</h3><br>
      <p>Own mobile app</p><br>
      <p>Advanced mobile app development course</p>
  </ion-card>

<!--Card with colored segments that show my technical skills-->
  <ion-card padding>
      <h3>Technical Skills</h3>
        <ion-card-subtitle class="incard">HTML</ion-card-subtitle>
        <ion-card-subtitle class="incard">PHP</ion-card-subtitle>
        <ion-card-subtitle class="incard">CSS</ion-card-subtitle>
        <ion-card-subtitle class="incard">SASS</ion-card-subtitle>
        <ion-card-subtitle class="incard">MEAN</ion-card-subtitle>
        <ion-card-subtitle class="incard">IONIC</ion-card-subtitle>
        <ion-card-subtitle class="incard">JavaScript</ion-card-subtitle>
        <ion-card-subtitle class="incard">JQuery</ion-card-subtitle>
  </ion-card>

<!--Card with colored segments that show my soft skills-->
  <ion-card padding>
      <h3>Skills</h3>
        <ion-card-subtitle class="incard">Responsibility</ion-card-subtitle>
        <ion-card-subtitle class="incard">Customer service</ion-card-subtitle>
        <ion-card-subtitle class="incard">Communication</ion-card-subtitle>
        <ion-card-subtitle class="incard">Flexibility</ion-card-subtitle>
  </ion-card>
</ion-content>
