<!--Page header-->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Extra Curriculum activities
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Extra curriculum activities page-->
<ion-content padding>
  <ion-card padding>
    <h3>Work experience</h3>
    <b>Web Developer</b><br>
    <p>Tecci Finland</p>
    <i>2019</i>
    <br><br>
    <b>Front-end web developer</b><br>
    <p>Whitestone Oy</p>
    <i>2018</i>
  </ion-card>
</ion-content>
