<!-- Erik Vänttinen
      1601534 -->

<!--Page header-->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Projects
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <!--Projects page content, NEW -> added a background image -->
<ion-content padding class="bgimg">
  <!--School projects -section -->
<h2>School projects:</h2>
  <ion-card padding>
    <h5>Innovation lab, Belgium</h5>
    <p>Teamwork that involved making a business plan for a VR company</p>
    <i>2019</i>
    <br><br>
    <h5>Tutor</h5>
    <p>Was a tutor for new students at Laurea</p>
    <i>2017</i>
  </ion-card>
  <br>
  <!-- NEW -> Personal projects -section -->
  <h2>Personal projects:</h2>
  <ion-card padding>
    <h5>Personal website</h5>
    <p>A website just for me to test and work on my skills on web development</p>
    <br><br>
    <h5>CV Website</h5>
    <p>A website where I show my skills and profile for the visitors</p>
    <br><br>
    <h5>Mobile app</h5>
    <p>I'm going to work on a mobile app that will be uploaded to Google Play Store</p>
  </ion-card>
  <br>
  <!-- NEW -> Team projects -section -->
  <h2>Team projects:</h2>
  <ion-card padding>
    <h5>PHP website</h5>
    <p>A sports betting website as a part of a PHP-course. Site consisted of results API and authentication</p>
    <br><br>
    <h5>JavaScript website</h5>
    <p>A To-Do list website as a part of JS-course</p>
  </ion-card>
</ion-content>
