<!-- Erik Vänttinen
      1601534 -->

<!--Contact page header-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>


<!-- Contact page content, NEW -> added a background image -->
<ion-content padding class="bgimg">
  <h2>Contact me</h2><br>
  <ion-card padding>
  <ion-text>
    <h5><b>Erik.Vanttinen@student.laurea.fi<br><br>
    0442627686</b></h5>
  </ion-text>
  </ion-card>
  <br>
  <strong>If you need more information, contact me via phone or email.</strong>
</ion-content>
