
<!-- Erik Vänttinen
      1601534 -->

<!-- Header content, NEW -> added the Logout-button here -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div style="display: flex;">
      <ion-title>
        About
      </ion-title>
      <div id="logout">
        <ion-button color="tertiary" (click)="logout()">LOG OUT</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<!-- Frontpage content, NEW -> added a background image -->
<ion-content padding class="bgimg">
  <ion-card padding>
    <!--The info text-->
    <h3 style="margin-top: 0;">CV application</h3>
    <p>This mobile app is made with Ionic and is the CV of <b>Erik Vänttinen</b>.</p>
  </ion-card>

  <!-- Personal profile -->
  <ion-card padding style="z-index: 2 !important;">
        <!-- Image that shows my picture-->
        <img src="../assets/images/erok.png" />
        <!-- NEW -> The about me-text-->
        <h3 style="margin-top: 0;">Erik Vänttinen</h3>
        <ion-text><b>Age</b>: 25 <br>
          Helsinki, Finland<br>
          <b>Interests</b>: Web-development, games, animals<br>
          <b>Hobbies</b>: Jogging, gaming 
        </ion-text>
        <p>I consider myself as a motivated student who's interested in all kinds of IT things.</p>
  </ion-card>
</ion-content>

